/* Pixel Mask */
.pixel-mask {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    z-index: 1;
    pointer-events: none;
}

.mask-pixel {
    height: 100%;
    width: 100%;
    transition: background-color 1ms ease-in-out;
}

/* Progress Bar */
@keyframes progress {
    from { width: 100%; }
}
.progress-bar {
    position: relative;
    width: 100%;
    max-width: 322px;
    height: 6rem;
}

.progress-bar img {
    top: 0;
    left: 0;
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.progress-bar-level {
    font-size: 1.5rem;
    text-align: center;
}

.progress-bar-mask {
    position: absolute;
    top: 1.5rem;
    right: 0;
    backdrop-filter: grayscale(100%);
    transform: skew(45deg);
    transform-origin: 0 0;
    height: 4rem;
    animation: 1s progress;
}

.progress-bar-text {
    text-align: center;
    margin: auto;
    font-size: 1.2rem;
}