h1 {
    font-size: 2.5em;
    margin: 2rem 0;
}

.habit {
    margin: 3rem auto;
    display: flex;
    align-items: end;
    background-image: url('/images/ui/line-pink-big.png');
    padding-left: 2.5rem;
    padding-bottom: 3rem;
    background-repeat: no-repeat;
    background-position: bottom left;
    max-width: 30rem;
}

.habit-title {
    flex: 1;
}

.edit-habits{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.edit-habits button{
    margin:0.5em
}

.xp-bar {
    position: fixed;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 740px) {

    .habit .neon-button {
        font-size: 1.4rem;
    }
}