form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
}

label {
    font-size: 1.5rem;
}

.neon-button {
    margin-left: auto;
}
.login-register-ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.login-register-ul a{
    text-decoration: none;
    align-self: center;
    line-height: 3em;
}