form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
}

label {
    font-size: 1.5rem;
}

.neon-button {
    margin-left: auto;
}