/* fonts */
@font-face {
    /* pixelated font */
    font-family: 'Pixeloid';
    src: url('../fonts/Pixeloid.ttf') format('truetype');
}
@font-face {
    /* higher readability */
    font-family: 'Roboto';
    src: url('../fonts/RobotoSlab.ttf') format('truetype');
}

/* Animations */
@keyframes light-up {
    10% { filter: none; }
    15% { filter: drop-shadow(0 0 5px var(--light-color)); }
    20% { filter: none; }

    30% { filter: none; }
    35% { filter: drop-shadow(0 0 5px var(--light-color)); }
    100% { filter: drop-shadow(0 0 5px var(--light-color)); }
}

/* General */
:root {
    --color-1: #0ee4e4;
    --color-1-bright: #00ffff;
    --color-2: #eb0565;
    --color-2-bright: #ff00a8;
    --color-3: #bc11cc;
    --color-3-bright: #d400ff;
    --bg-color: #1d1d1d;
    --bg-color-dark: #0f1313;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'Pixeloid', sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

/* Themed elements */
.neon-button {
    border: none;
    background-color: transparent;
    background-image: url('/images/ui/button.png');
    background-size: 100% 100%;
    aspect-ratio: 152/80;
    height: 3em;
    width: 5.7em;
    color: white;
    font-family: 'Pixeloid', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    --light-color: var(--color-1-bright);
}
.neon-button:hover {
    animation: light-up 1s forwards;
}
.neon-button:disabled, .neon-button[disabled] {
    filter: grayscale(1);
    cursor: not-allowed;
    animation: none;
}

.text-input {
    border: none;
    background-color: transparent;
    font-family: 'Pixeloid', sans-serif;
    background-image: url('/images/ui/text-input.png');
    background-size: 100% 100%;
    height: 3em;
    width: 13.2em;
    padding: 1em;
    color: white;
    margin-left: auto;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    transition: filter 0.2s ease-in-out;
}
.text-input:focus {
    filter: drop-shadow(0 0 5px var(--color-2-bright));
}

/* Layout */
.layout {
    padding-top: 5rem;
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr auto;
    align-items: center;
}

main {
    width: min(95%, 60rem);
    margin: 0 auto;
}

/* Navigation */
@media screen and (max-width: 500px){
    nav {
        display: none;
    }
    nav > ul {
        flex-direction: column;
        height: 100vh;
        justify-content: center!important;
    }
    nav.active {
        display: block;
    }
    .hamburger {
        display: block;
    }
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--bg-color-dark);
}
nav > ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
}

nav .page-link {
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.profile {
    height: 100%;
}
.profile > img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

nav .page-link:hover {
    filter: brightness(2);
}

nav li:nth-child(1) .page-link {
    color: var(--color-1);
    text-shadow: 0 0 5px var(--color-1);
}

nav li:nth-child(1) a:hover {
    text-shadow: 0 0 10px var(--color-1);
}

nav li:nth-child(2) .page-link {
    color: var(--color-2);
    text-shadow: 0 0 5px var(--color-2);
}

nav li:nth-child(2) a:hover {
    text-shadow: 0 0 10px var(--color-2);
}

nav li:nth-child(3) .page-link {
    color: var(--color-3);
    text-shadow: 0 0 5px var(--color-3);
}

nav li:nth-child(3) .page-link:hover {
    text-shadow: 0 0 10px var(--color-3);
}

.hamburger {
    display: none;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
}
.hamburger > div {
    width: 8px;
    height: 8px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}
.hamburger.open > div.open {
    background-color: white;
    transition-delay: 0.2s;
}
.hamburger:not(.open) > div.close {
    background-color: white;
    transition-delay: 0.2s; 
}

/* Footer */
footer {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}