:root {
    /* Define default sizes for scalable elements */
    --year-day-size: 1rem; /* Default size of year-day */
    --year-day-gap: 2px; /* Default gap */
    --title-font-size: 1.5rem; /* Default title font size */
    --title-background-size: 190px 64px;
}

main {
    width: min(90%);
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1200px; /* Set the maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    gap: 80px; /* Add gap between the columns */
    padding: 10px; /* Add padding to avoid content touching the container edge */
    align-items: flex-start;
}

/* Media query for screens narrower than 1200px */
@media (max-width: 1200px) {
    :root {
        --year-day-size: 0.8rem; /* Smaller size */
        --year-day-gap: 1px; /* Smaller gap */
        --title-font-size: 1rem; /* Smaller title font size */
        --title-background-size: 95px 32px;
    }

    .container {
        flex-direction: column; /* Stack the child elements vertically */
        align-items: center; /* Center the items when they're in a column */
        gap: 0;
    }

    .left-column, .right-column, .bio, .activity {
        width: 100%; /* Make these elements take up the full container width */
        max-width: none; /* Remove any max-width restrictions */
        flex: 1; /* Allow the elements to grow and fill the available space */
    }

    .left-column {
        padding-bottom: 10px; /* Reduce bottom padding to decrease the gap */
        /* Adjust as needed to achieve the desired spacing */
    }

    .right-column {
        padding-top: 10px; /* Optionally, adjust the top padding of the right column */
        /* This can help further control the spacing when stacked */
    }

    .activity{
        margin: 0;
    }
}

/* Additional media query for even narrower screens, e.g., under 800px */
@media (max-width: 800px) {
    :root {
        --year-day-size: 0.5rem; /* Even smaller size */
        --year-day-gap: 0.25px; /* Even smaller gap */
        --title-font-size: 0.8rem; /* Even smaller title font size */
        /* --title-background-size: 30%; */
    }

    .activity{
        margin-left: 0;
    }
}

.left-column {
    flex: 1;
    max-width: 350px; /* Set the maximum width for the left column */
    padding: 20px;
    /* background-color: #f8f9fa; */
    display: flex; /* Make left-column a flex container */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    flex-direction: column; /* Stack children vertically */
}

.right-column {
    flex: 1;
    max-width: 800px; /* Set the maximum width for the right column */
    padding: 20px;
    /* background-color: #e9ecef; */
    display: flex; /* Make left-column a flex container */
    justify-content: left; /* Center children horizontally */
    align-items: flex-start; /* Center children vertically */
    flex-direction: column; /* Stack children vertically */
    gap: 40px; /* Add gap between the elements */
}

#edit-profile-form {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Adjust the gap between form elements as needed */
    width: 100%;
    display: none; /* Hide the form by default */
    animation: slideDown 0.5s ease-out forwards;
}

#edit-profile-form label{
    margin-top: 15px;
}

.username{
    margin-bottom: 25px;
}

.avatar {
    width: 300px; /* Match the width of the image to keep the container's shape consistent */
    height: 300px; /* Match the height of the image */
    border-radius: 50%; /* This maintains the circular shape for the container */
    background-color: #e0e0e0; /* Example background color */
    display: flex; /* Ensures the contents are properly centered */
    justify-content: center; /* Centers the contents horizontally */
    align-items: center; /* Centers the contents vertically */
    overflow: hidden; /* Ensures no overflow outside the circular boundary */
    margin-bottom: 20px; /* Adds space below the avatar */
}

.avatar img {
    width: 300px; /* Adjust based on your preference */
    height: 300px; /* Make sure width and height are equal */
    border-radius: 50%; /* This creates the circular shape */
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

.profile-edit-button {
    display: block; /* Keeps the button as a block element */
    width: 100%; /* Makes the button take the full width of its container */
    margin: 10px auto; /* Increases space above the button and centers it horizontally */
    padding: 10px 0; /* Adjusts padding for better visual appearance, removing horizontal padding */
    background-color: #3e3e3e; /* Example background color */
    border: none; /* Removes the border */
    border-radius: 5px; /* Adds rounded corners */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    font-size: 16px; /* Adjusts the font size */
    text-align: center; /* Ensures the text is centered */
    font-family: 'Pixeloid', sans-serif;
    color: white;
}

.bio {
    position: relative; /* Add this line */
    width: 100%; /* Ensures the bio takes the full width of its container */
    padding: 20px; /* Add some padding around the text */
    margin-top: 20px; /* Adds space above the bio */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adds a subtle shadow for depth */
    border-image: url('/images/ui/text-input.png') 30 stretch; /* Example path and settings */
    border-image-slice: 30; /* Adjust this value based on your image */
    border-image-repeat: stretch; /* This will stretch the image to fit the border */
    border-image-width: 30px; /* Adjust this value based on your image */
}

.bio-edit-button {
    position: absolute;
    top: 20px; /* Increased distance from the top */
    right: 20px; /* Increased distance from the right */
    width: 30px; /* Adjust based on the size of your image */
    height: 30px; /* Adjust based on the size of your image */
    background-image: url('/images/ui/edit.png'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the button area */
    background-position: center; /* Centers the background image */
    border: none;
    border-radius: 5px; /* Rounded corners, if desired */
    cursor: pointer; /* Changes cursor to pointer on hover */
    background-color: transparent; /* Ensures no background color */
    filter: invert(100%); /* Inverts the color to white, works if the original image is black */
}

.bio p{
    padding: 0px 20px;
    margin: 0; /* Removes default margin for paragraphs */
    text-align: left; /* Aligns the text to the left */
    font-size: 16px; /* Adjusts the text size to a standard readable size */
    word-wrap: break-word; /* Ensure long words do not cause layout issues */
}

.bio h4{
    padding: 0px 22px;
    font-style: italic; /* Adds italic style to the text */
    margin: 4px 0 10px 0; /* Removes default margin for headings */
    text-align: left; /* Aligns the text to the left */
    font-size: 24px; /* Adjusts the text size to a standard readable size */
    text-decoration: underline; /* Adds an underline to the text */
}

.activity{
    margin-left: 20px; /* Adds space to the left of the activity section */
}

.activity h1
{
    text-align: left;
    font-size: var(--title-font-size);
}

h1 {
    margin: 1rem 0;
    background-image: url('/images/ui/line-pink.png');
    background-repeat: no-repeat;
    background-size: var(--title-background-size);
    padding-bottom: 0.3em;
    padding-top: 1em;
    padding-left: 0.8em;
    margin-left: -1rem;
}

.week-habits {
    display: grid;
    grid-template-columns: 20% repeat(7, min-content);
    grid-template-rows: repeat(auto, 5rem);
    align-items: center;

    row-gap: 8px;
    column-gap: 4px;
}

.week-habits h2 {
    text-align: right;
    margin-right: 1rem;
}

.week-day-title {
    text-align: center;
    margin-top: auto;
    margin-bottom: -10px;
}

.week-day {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-1);
    filter: brightness(0.3);
}

.week-day.completed {
    filter: brightness(1);
}

.year-days {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
    gap: var(--year-day-gap);
    width: auto; /* Adjusted to auto to allow dynamic resizing */
}

.year-day {
    width: var(--year-day-size);
    height: var(--year-day-size);
    background-color: var(--color-2);
}

.year-day.all-completed {
    transform: rotate(45deg) scale(0.7071);
}

.year-day-title {
    width: 1rem;
    height: 1rem;
    text-align: center;
    font-size: 0.8rem;
}

.year-day-legend
{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;
    margin-top: 15px;
}

/* CSS */
@keyframes slideDown {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

input[type="text"] {
    width: 100%; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    padding: 10px; /* Add padding inside the input */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    background-image: url('path/to/your/background-image.jpg'); /* Path to your image */
    background-size: cover; /* Ensure the background image covers the entire input */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
    resize: none; /* Disable resizing */
    overflow: hidden; /* Prevent overflow */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Adjusting for different sizes */
input[type="text"]:focus {
    filter: drop-shadow(0 0 5px var(--color-2-bright));
    background-size: 100% 100%; /* Ensure the background size adjusts when resizing */
}

.large-text-input {
    background-image: url('/images/ui/text-input.png');
    width: 100%; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    padding: 10px; /* Add padding inside the textarea */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    background-size: cover; /* Ensure the background image covers the entire textarea */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
    resize: vertical; /* Allow resizing both horizontally and vertically */
    overflow: auto; /* Allow scrolling if the content overflows */
}

.large-text-input:focus {
    filter: drop-shadow(0 0 5px var(--color-2-bright));
    background-size: 100% 100%; /* Adjust the background size when focused */	
}

#edit-profile-form-buttons {
    width: 100%; /* Set the width to 100% */
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Align one button to the left and the other to the right */
    gap: 15px; /* Add space between the buttons */
    display: none; /* Hide the buttons by default */
    animation: slideDown 0.5s ease-out forwards;
}

#edit-profile-form-buttons #cancel-btn {
    background-color: #d9534f; /* Example background color */
    display: block; /* Keeps the button as a block element */
    width: 50%; /* Makes the button take the full width of its container */
    margin: 20px auto; /* Increases space above the button and centers it horizontally */
    padding: 10px 0; /* Adjusts padding for better visual appearance, removing horizontal padding */
    color: white; /* Text color */
    border: none; /* Removes the border */
    border-radius: 5px; /* Adds rounded corners */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    font-size: 16px; /* Adjusts the font size */
    text-align: center; /* Ensures the text is centered */
    font-family: 'Pixeloid', sans-serif;
}

#edit-profile-form-buttons #save-btn {
    display: block; /* Keeps the button as a block element */
    width: 100%; /* Makes the button take the full width of its container */
    margin: 20px auto; /* Increases space above the button and centers it horizontally */
    padding: 10px 0; /* Adjusts padding for better visual appearance, removing horizontal padding */
    background-color: #3e3e3e; /* Example background color */
    color: white; /* Text color */
    border: none; /* Removes the border */
    border-radius: 5px; /* Adds rounded corners */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    font-size: 16px; /* Adjusts the font size */
    text-align: center; /* Ensures the text is centered */
    font-family: 'Pixeloid', sans-serif;
}


.follow-button {
    border: none;
    background-color: transparent;
    background-image: url('/images/ui/follow_button_green.png');
    background-size: 100% 100%;
    aspect-ratio: 152/80;
    height: 3em;
    width: 5.7em;
    color: white;
    font-family: 'Pixeloid', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    --light-color: var(--color-1-bright);
}
.follow-button:hover {
    animation: light-up 1s forwards;
}
.unfollow-button {
    border: none;
    background-color: transparent;
    background-image: url('/images/ui/unfollow_button_pink.png');
    background-size: 100% 100%;
    aspect-ratio: 152/80;
    height: 3em;
    width: 5.7em;
    color: white;
    font-family: 'Pixeloid', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    --light-color: var(--color-3-bright);
}
.unfollow-button:hover {
    animation: light-up 1s forwards;
}