a {
    color: white;
    text-decoration: none;
    align-items: center;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.profile-pic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
}


.following-results{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.following{
    text-align: center;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    background-image: url('/images/ui/box_blue.png');
    background-size: 100% 100%;
    aspect-ratio: 152/80;
    height: 3em;
    width: 5.7em;
    color: white;
    font-family: 'Pixeloid', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    --light-color: var(--color-1-bright);
}
.following:hover{
    animation: light-up 1s forwards;
}
.neon-button:hover {
    animation: light-up 1s forwards;
}

